<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!--配置activemq连接工厂，组合加强，实现连接池-->
    <bean name="pooledConnectionFactory" class="org.apache.activemq.pool.PooledConnectionFactory">
        <!--注入连接工厂-->
        <property name="connectionFactory">
            <bean class="org.apache.activemq.ActiveMQConnectionFactory">
                <property name="brokerURL" value="${activemq.addr}"/>
                <property name="userName" value="${activemq.username}"/>
                <property name="password" value="${activemq.password}"/>
                <!--新版需要添加信任，才能序列化-->
                <property name="trustAllPackages" value="true"/>
            </bean>
        </property>
        <!--最大连接数-->
        <property name="maxConnections" value="10"/>
    </bean>

    <!--配置 spring 整合 activemq，可以缓存 session-->
    <bean name="cachingConnectionFactory" class="org.springframework.jms.connection.CachingConnectionFactory">
        <!--注入连接工厂-->
        <property name="targetConnectionFactory" ref="pooledConnectionFactory"/>
        <!--配置缓存大小-->
        <property name="sessionCacheSize" value="5"/>
    </bean>

    <!--配置jmsTemplate-->
    <bean name="jmsTemplate" class="org.springframework.jms.core.JmsTemplate">
        <property name="connectionFactory" ref="cachingConnectionFactory"/>
    </bean>
</beans>