<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!--jedis 连接池-->
    <bean name="jedisPoolConfig" class="redis.clients.jedis.JedisPoolConfig">
        <!--最大连接数-->
        <property name="maxTotal" value="10"/>
        <!--最大空闲数-->
        <property name="maxIdle" value="5"/>
    </bean>

    <!--jedis 集群-->
    <bean name="jedisCluster" class="redis.clients.jedis.JedisCluster">
        <!--cluster 集合-->
        <constructor-arg name="nodes">
            <set>
                <bean class="redis.clients.jedis.HostAndPort">
                    <constructor-arg name="host" value="${jedis.node1.host}"/>
                    <constructor-arg name="port" value="${jedis.node1.port}"/>
                </bean>
                <bean class="redis.clients.jedis.HostAndPort">
                    <constructor-arg name="host" value="${jedis.node2.host}"/>
                    <constructor-arg name="port" value="${jedis.node2.port}"/>
                </bean>
                <bean class="redis.clients.jedis.HostAndPort">
                    <constructor-arg name="host" value="${jedis.node3.host}"/>
                    <constructor-arg name="port" value="${jedis.node3.port}"/>
                </bean>
                <bean class="redis.clients.jedis.HostAndPort">
                    <constructor-arg name="host" value="${jedis.node4.host}"/>
                    <constructor-arg name="port" value="${jedis.node4.port}"/>
                </bean>
                <bean class="redis.clients.jedis.HostAndPort">
                    <constructor-arg name="host" value="${jedis.node5.host}"/>
                    <constructor-arg name="port" value="${jedis.node5.port}"/>
                </bean>
                <bean class="redis.clients.jedis.HostAndPort">
                    <constructor-arg name="host" value="${jedis.node6.host}"/>
                    <constructor-arg name="port" value="${jedis.node6.port}"/>
                </bean>
            </set>
        </constructor-arg>
        <!--jedis 的配置-->
        <constructor-arg name="poolConfig" ref="jedisPoolConfig"/>
    </bean>

</beans>